*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-width: 320px;
    min-height: 100vh;
    font-family: $main-font-family;
    line-height: 1.2;
    color: $text-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}