html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    padding: 32px 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul{
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

/* HEADER */
.header {
    margin-bottom: 104px;
}
.logo {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: #555252;
}

.logo::first-letter {
    color: #1abc9c;
}

.menu-list {
    float: right;
    margin: 0;
    padding: 10px 0;
}

.menu-item {
    float: left;
}

.menu-item:not(:last-child) {
    margin-right: 34px;
}

.menu-item>a:hover, .menu-item>a:focus {
    color: #1abc9c;
}

.menu-item a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

/* MAIN */
.section-container {
    text-align: center;
}
.section-container:not(:last-of-type) {
    margin-bottom: 98px;
}
.section-title {
    margin-bottom: 130px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    color: #515151;
}

.section-title::after {
    display: block;
    content: '';
    width: 162px;
    height: 8px;
    margin: 30px auto 0;
    background-color: #1abc9c;
}
  
/* Products section */
.product-item {
    float: left;
    width: 255px;
    background-color: #e9f0fd;
}

.product-item:not(:nth-of-type(4n+4)) {
    margin-right: 30px;
}

.product-item:not(:nth-last-of-type(-n+4)) {
    margin-bottom: 30px;
}

.product-item img {
    height: 322px;
}

.product-item-desc p {
    float: left;
    font-size: 18px;
    line-height: 1.8;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
}

.product-item-desc p:first-of-type {
    width: 200px;
    padding: 2px 14px;
    background-color: #323232;
}

.product-item-desc p:last-of-type {
    width: 55px;
    padding: 2px 12px;
    background-color: #8c8c8c;
}

.product-item:hover .product-item-desc p:first-of-type {
    background-color: #1abc9c;
}

.product-item:hover .product-item-desc p:last-of-type {
    background-color: #7fd9c7;
}

/* News section */
.news {
    float: left;
    width: 350px;
    text-align: left;
}

.news:not(:nth-of-type(3n+3)) {
    margin-right: 30px;
}

.news img {
    margin-bottom: 18px;
}

.news-title {
    margin-bottom: 44px;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.4;
    color: #555252;
}

.news-title::after {
    display: block;
    content: '';
    width: 136px;
    height: 2px;
    margin: 10px 0 0;
    background-color: #1abc9c;
}

.news-text {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.8;
    color: #555252;
}

.news button {
    padding: 12px 42px;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    background-color: #4ec6ab;
    border: none;
    border-radius: 3px;
}

.news button:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
}  