// Fonts
$main-font-family:  'Montserrat', sans-serif;
$secondary-font-family: 'Roboto', sans-serif;
$cursive-font-family : 'Kaushan Script', cursive;

// Colors
$main-light-color: #95e1d3;
$selection-color: #f38181;
$text-color: #333;
$secondary-text-color: #999;
$header-text-color: #fff;
$header-selection-color: #fce38a;